* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--hue: 223;
	--bg: hsl(var(--hue),90%,90%);
	--fg: hsl(var(--hue),90%,10%);
	--primary: hsl(var(--hue),90%,50%);
	--trans-dur: 0.3s;
}
.bike {
	display: block;
	margin: auto;
	width: 16em;
	height: auto;
}
.bike__body,
.bike__front,
.bike__handlebars,
.bike__pedals,
.bike__pedals-spin,
.bike__seat,
.bike__spokes,
.bike__spokes-spin,
.bike__tire {
	animation: bikeBody 3s ease-in-out infinite;
	stroke: var(--primary);
	transition: stroke var(--trans-dur);
}
.bike__front {
	animation-name: bikeFront;
}
.bike__handlebars {
	animation-name: bikeHandlebars;
}
.bike__pedals {
	animation-name: bikePedals;
}
.bike__pedals-spin {
	animation-name: bikePedalsSpin;
}
.bike__seat {
	animation-name: bikeSeat;
}
.bike__spokes,
.bike__tire {
	stroke: currentColor;
}
.bike__spokes {
	animation-name: bikeSpokes;
}
.bike__spokes-spin {
	animation-name: bikeSpokesSpin;
}
.bike__tire {
	animation-name: bikeTire;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,10%);
		--fg: hsl(var(--hue),90%,90%);
	}
}

/* Animations */
@keyframes bikeBody {
	from { stroke-dashoffset: 79; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -79; }
}
@keyframes bikeFront {
	from { stroke-dashoffset: 19; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -19; }
}
@keyframes bikeHandlebars {
	from { stroke-dashoffset: 10; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -10; }
}
@keyframes bikePedals {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: -25.133;
	}
	33%,
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: -21.991;
	}
	to {
		stroke-dashoffset: -25.133;
	}
}
@keyframes bikePedalsSpin {
	from { transform: rotate(0.1875turn); }
	to { transform: rotate(3.1875turn); }
}
@keyframes bikeSeat {
	from { stroke-dashoffset: 5; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -5; }
}
@keyframes bikeSpokes {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: -31.416;
	}
	33%,
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: -23.562;
	}
	to {
		stroke-dashoffset: -31.416;
	}
}
@keyframes bikeSpokesSpin {
	from { transform: rotate(0); }
	to { transform: rotate(3turn); }
}
@keyframes bikeTire {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: 56.549;
		transform: rotate(0);
	}
	33% {
		stroke-dashoffset: 0;
		transform: rotate(0.33turn);
	}
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: 0;
		transform: rotate(0.67turn);
	}
	to {
		stroke-dashoffset: -56.549;
		transform: rotate(1turn);
	}
}

@mixin wrapper($display: flex, $justify: center, $align: center, $gap: 1em) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
@mixin block($mt: 9em) {
    margin-top: $mt;
}

iframe {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.go-to-up {
    display: none;
    &.scrollTop {
        display: block;
        position: fixed;
        top: 45%;
        left: 0%;
        max-width: 100%;
        z-index: 9;
        cursor: pointer;
    }
    font-size: 60px;
}

#preloader {
    @include wrapper ($gap: 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    font-size: 30px;
}

body {
    font-family: 'Open Sans';
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.btn {
    width: 176px;
    height: 54px;
    display: flex;
    align-items: center;
    width: fit-content;
    font-weight: 700;
    cursor: pointer;
}
.btns {
    margin-top: 38px;
    gap: 13px;
}
h1, .h1 {
    margin-top: 211px;
    font-size: 48px;
    line-height: 66px;
    font-weight: 800;
}
h2, .h2 {
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 66px;
    text-align: center;
}
h3, .h3 {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 400;
    line-height: 36.32px;    
}
p {
    font-size: 18px;
    line-height: 33px;
    color: #808080;
}

.header {
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px, 3px, 20px, rgba(#000, .05);
        z-index: 9;
    }
    &__wrapper {
        justify-content: space-between;
    }
    &__logo {
        align-items: center;
        width: 235px;
        padding: 0;
        margin-right: 23px;
    }
    &__nav {
        width: 77%;
        gap: 20px;
        padding: 0;
    }
    &__cta { display: flex; gap: 20px; }
    .navbar-nav {
        align-items: center;
        text-align: center;
        gap: 15px;
    }
    .btn {
        width: 206px;
        justify-content: center;
    }
    &__burger {
        display: none;
    }
    .burger-menu {
        position: fixed;
        display: block;
        z-index: 3;
        width: 200px;
        right: 22%;
        top: -200%;
        transition: all .2s ease;
        &.show-menu {
            top: 0%;
        }
        .close__btn { text-align: end; height: 23px;}
        .links {
            background-color: #3285ff;
            border-radius: 20px;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            li {
                text-align: center;
                border-top: 1px solid #fff;
                padding: 1rem;
                cursor: pointer;
                a {
                    color: #fff;
                    font-size: 16px;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
    }
    
}

.hero {
    position: relative;
    overflow: hidden;
    &__wrapper {
        margin: 0 0 385px;
    }
    &__left {
        padding: 0;
        .btn-light {
            color: #808080;
        }
        p {
            width: 98%;
        }
    }
    &__right {
        width: 100%;
        padding: 0;
        position: absolute;
        left: 57%;
        transform: rotate(-18.5deg);
        img {
            filter: drop-shadow(0px 10px 10px rgba(0,0,0, 0.5));
        }
    }
}

.sponsors {
    &__wrapper {
        justify-content: space-between;
    }
}

.services {
    @include block;
    img {
        width: auto;
        border-bottom: 1px solid #808080;
        padding-bottom: 40px;
    }
    .h3 {
        margin-top: 40px;
        font-size: 24px;
        font-weight: 700;
        line-height: 31.13px;
        text-align: center;
    }
    &__heading {
        display: none;
        justify-content: center;
    }
    &__slider { margin-top: 72px; }
    &__controls { margin-top: 55px; }
    .arrow {
        width: 85px;
        height: 85px;
        border-radius: 100%;
        border: none;
        cursor: pointer;

        &.arrow-prev {
            background-color: #f8f9ff;

            svg {
                transform: rotate(180deg);

                path {
                    fill: #a5a5a5;
                }
            }
        }
        &.arrow-next {
            background-color: #f8f9ff;
            path {
                fill: #a5a5a5;
            }
        }
    }
    &__slide {
        padding: 36.69px 23.5px;
        background-color: #F9F9F9;
        border-radius: 20px;
        height: auto;
        text-align: center;
        &.active {
            background-color: var(#3461ff);
            color: #fff;
        }
    }
}

.why-stigma {
    @include block;
    &__top {
        .h2{
            text-align: left;
            line-height: 48px;
            margin-bottom: 13px;
        }
        p {
            color: #64607D;
            letter-spacing: -2%;
        }
        .btn {
            width: 185px;
            justify-content: center;
        }
    }
    &__bottom {
        position: relative;
        height: 329px;
        .line {
            width: 100%;
            position: absolute;
            bottom: 39%;
            left: -2%;
        }
        .point-container {
            @include wrapper;
            width: 64px;
            height: 64px;
            background: white;
            margin-bottom: 24px;
            .point {
                width: 23px;
                height: 23px;
                background: #DCDCDC;
                border-radius: 25px;
            }
        }
        .step-title {
            font-size: 16px;
            line-height: 30px;
            letter-spacing: -3%;
            font-weight: 700;
            color:black;
            margin: 0;
        }
        .step-text {
            font-size: 16px;
            font-weight: 400;
            line-height: 24.8px;
            letter-spacing: -2%;
        }
        .step {
            position: absolute;
            z-index: 2;
        }
        .step-number {
            position: absolute;
            font-size: 204px;
            font-weight: 800;
            line-height: 204px;
            letter-spacing: -2%;
            color: #DCDCDC;
            opacity: .5;
        }
        .step1 {
            bottom: -15%;
            left: 13%;
            .step-number1 {
                bottom: 23%;
                left: 45%;    
            }
        }
        .step2 {
            bottom: 24%;
            right: 23%;
            .step-number2 {
                bottom: 22%;
                left: 45%;
            }
        }
        .step3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            bottom: 112%;
            right: 0%;
            .step-number3 {
                bottom: 12%;
                left: 57%;
            }
        }
    }
}

.products {
    @include block;
    &__heading {
        display: none;
        justify-content: center;
    }
    &__slider { margin-top: 72px; }
    &__controls { margin-top: 55px; }
    .arrow {
        width: 85px;
        height: 85px;
        border-radius: 100%;
        border: none;
        cursor: pointer;

        &.arrow-prev {
            background-color: #f8f9ff;

            svg {
                transform: rotate(180deg);

                path {
                    fill: #a5a5a5;
                }
            }
        }
        &.arrow-next {
            background-color: #f8f9ff;
            path {
                fill: #a5a5a5;
            }
        }
    }

    &__slide {
        padding: 36.69px 23.5px;
        background-color: #FAFAFA;
        border-radius: 20px;
        height: auto;
        text-align: center;
        &.active {
            background-color: var(#3461ff);
            color: #fff;
        }
    }
    &-description {
        margin: 73px 40px;
        margin-bottom: 40px;
        text-align: left;
    }
    &-image {
        width: auto;
        padding-top: 40px;
        border-top: 1px solid #808080;
    }
    &-image2 {
        width: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #808080;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        color: #797979;
    }
    a {
        text-decoration: none;
        font-size: 18px;
        line-height: 23.35px;
    }
}

.faq {
    @include block;
    &__wrapper {
        overflow: hidden;
        padding: 68.5px 97.5px;
        background-color: #3285FF;
        border-radius: 10px;
        position: relative;
        .circle {
            position: absolute;
            z-index: 0;
            background: linear-gradient(to bottom, white, transparent) ;
            transform: rotate(18.5deg);
            border-radius: 100%;
        }
        .circle-left {
            width: 420px;
            height: 420px;
            top: 47%;
            left: -2%;
            opacity: .3;
        }
        .circle-right {
            width: 372px;
            height: 372px;
            bottom: 27%;
            right: -20%;
            opacity: .8;
        }
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        .input {
            width: 250px;
            height: 50px;
            background-color: transparent;
            border-radius: 8px;
            border: 2px solid white;
            &::placeholder {
                color: white;
                margin-left: 15px;
            }
        }
        .question {
            width: 515px;
        }
    }
    h2 {
        color:white;
        margin-bottom: 16px;
        text-align: left;
    }
    p {
        font-weight: 400;
        color:white;
    }
    .btn {
        width: 178px;
        margin-top: 13px;
        justify-content: center;
        background-color: white;
        color: #3285FF;
    }
}

.benefits {
    @include block;
    &__wrapper { gap: 10px; }
    &__left {
        .graph {
            width: 100%;
            opacity: .5;
        }
    }
    &__right {
        flex-direction: column;
        justify-content: center;
        .h2 {
            text-align: left;
            line-height: 53.28px;
        }
        .benfs {
            margin: 0;
            color: #4F5665;
            font-size: 14px;
            line-height: 140%;
        }
        .txt {
            line-height: 18.65px;
            font-size: 14px;
            font-weight: 400;
            margin-top: 1rem;
            margin-bottom: 0;
        }   
        ol {
            padding: 0;
            margin-top: 30px;
            margin-bottom: 0;
            list-style: none;
        }
    }
    &-items {
        display: flex;
        gap: 10px;
        margin-bottom: 16px;
    }
}

.contacts {
    @include block;
    .container {
        background: #FAFAFA;
    }
    &__wrapper {
        display: flex;
        padding: 75px 110.5px;      
    }
    &-source {
        display: flex;
        align-items: center;
        gap: 27px;
        margin-bottom: 24px;
    }
    .h2 {
        text-align: left;
        margin-bottom: 24px;
    }
    .txt {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.79px;
    }
}

.footer {
    margin-top: 122px;
    &__wrapper {
        gap: 88px;
        padding-bottom: 92px;
    }
    &__left {
        margin-right: 38px;
        flex-wrap: wrap;
        gap: 32px;
        .logo {
            width: 175px;
        }
        p {
            margin-bottom: 0;
            font-size: 12px;
            font-weight: 400;
            line-height: 15.72px;
        }
        .socials {
            gap: 25px;
        }
    }
    &__right {
        gap: 67px;
        .h3 {
            margin-bottom: 24px;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 16px;
            line-height: 18.96px;
        }
    }
}

@media screen and (max-width: 1440px) {
    .hero {
        &__wrapper {
            margin: 0 0 210px;
        }
        &__right {
            top: 5%;
            img {
                width: 50%;
            }
        }
    }
}
@media screen and (max-width: 1199px) {
    .header {
        &__logo { width: 199px; }
        .btn {
            width: 167px;
            font-size: 15px;
        }
    }
    .hero {
        &__left {
            h1 {
                margin-top: 150px;
                font-size: 42px;
            }
            p {
                width: 90%;
            }
        }
    }
    .why-stigma {
        .step1 { bottom: -25%; left: 13%; }
        .step2 { bottom: 7%; right: 23%; }
        .step3 { bottom: 82%; right: 0%; }
    }
    .products {
        &-image { width: 215px; }
    }
    .faq {
        &__wrapper {
            padding: 68.5px 80px;
        }
        &__left {
            width: 47%;
        }
        &__form {
            flex-direction: column;
            .question {
                width: 410px;
            }
        }
        .circle-left {
            width: 380px;
            height: 380px;
            top: 55%;
            left: -4%;
        }
        .circle-right {
            width: 330px;
            height: 330px;
            bottom: 26%;
            right: -18%;
        }
    }
    .contacts {
        &__wrapper { padding: 75px 85px; }
    }
}
@media screen and (max-width: 1024px) {
    .go-to-up { width: 12%; }
    .header {
        .navbar { display: none; }
        &__burger { display: block; }
    }
    .hero {
        &__wrapper {
            gap: 100px;
            margin-bottom: 20px;
        }
        &__left {
            width: 100%;
            .h1 { margin-top: 90px; }
        }
        &__right {
            width: 80%;
            position: relative;
            left: 7%;
            img {
                width: 100%;
            }
        }
    }
    .sponsors {
        @include block;
    }
    .services {
        &__heading { display: flex; }
    }
    .why-stigma {
        &__top {
            width: 100%;
        }
        &__bottom {
            height: 550px;
            .line {
                position: relative;
            }
            .step1 { width: 30%; top: 42%; left: 11%; .step-number1 { top: 0; }}
            .step2 { width: 30%; top: 24%; right: 27%; .step-number2 { top: 10%; }}
            .step3 { position: absolute; width: 25%; top: 0; right: 0; .step-number3 { top: 10%; left:28%; }}
        }
    }
    .products {
        &__heading { display: flex; }
        &__list {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .faq {
        &__left { width: 50%; }
        .question { width: 273px; } 
        .circle-left { width: 300px; height: 300px; top:67%; left:-5%; }
        .circle-right { width: 250px; height: 250px; bottom:49%; right:-21%; }
    }
    .benefits {
        &__left { display: flex; align-items: center; }
    }
    .contacts {
        &__wrapper { flex-wrap: wrap;}
        &__left { width: 100%; }
        &__right { width: 100%; }
    }
    .footer {
        &__wrapper { gap: 30px; }
        .socials { gap: 13px; }
        .h3 { font-size: 26px; }
    }
}
@media screen and (max-width: 767px) {
    .go-to-up { width: 12%; }
    .header {
        .burger-menu {
            right: 29%;
            width: 170px;
            .links li {padding: 0.6rem;}
            .links li a {font-size: 14px;}
            
        }
    }
    .sponsors {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;   
        }
    }
    .why-stigma {
        &__wrapper { display: flex; flex-wrap: wrap; gap: 50px; }
        &__bottom { height: 100%; }
        .line, .point-container { display: none; }
        .step { 
            position: relative; 
            align-items: baseline;
            width: 100%; 
            top: 0; bottom: 0; left: 0; right: 0;
            .step-number { font-size: 150px; top: -58%; }
            .step-number1 { left: 50%;}
            .step-number2 { left: 63%;}
            .step-number3 { left: 79%;}
        }
    }
    .faq {
        &__wrapper { flex-wrap: wrap; gap:15px; }
        &__left { width: 100%; }
        &__right { width: 100%; .question { width: 340px; } }
        .circle-left { top: 77%; } .circle-right { bottom: 70%; }
    }
    .benefits {
        &__left { display: none; }
        &__right { width: 100%; }
    }
    .contacts {
        &__wrapper { padding: 50px 30px; }
    }
    .footer {
        &__wrapper {
            flex-wrap: wrap-reverse;
        }
        &__left { width: 100%; align-items: center; p {width: 50%;}}
        &__right { width: 100%; justify-content: space-between; gap: 60px;}
    }
}
@media screen and (max-width: 559px) {
    .header {
        &__cta { align-items: center; }
        &__burger { svg { width: 90%; } }
        img { width: 80%; } 
        .btn { height: 40px; font-size: 12px; }
    }
    .faq { .question { width: 270px; } }
    .footer { &__right { gap: 50px; } .h3 { font-size: 22px; } p { font-size: 14px; } }
}
@media screen and (max-width: 480px) {
    .go-to-up { width: 14%; }
    .h2 {font-size: 34px;}
    .header { 
        .burger-menu {
            right: 26%;
            width: 138px;
            .links li { padding: 0.4rem; }
            .links li a { font-size: 11px; }
        }
        &__logo { width: 140px; margin: 0;} 
        &__cta { gap: 7px; }
        .btn { font-size: 11px; }
    }
    .hero {
        .h1 { margin-top: 45px; font-size: 26px; line-height: 40px;}
        p { font-size: 14px; line-height: 26px; }
        a { font-size: 12px; height: 45px;}
    }
    .sponsors { 
        margin-top: 6em;
    }
    .services { 
        margin-top: 6em;
        .arrow { width: 60px; height: 60px; }
    }
    .why-stigma {
        margin-top: 6em;
        &__top { p {font-size: 17px;} }
        .step {
            .step-number { top: -4%; }
            .step-number1 { left: 50%;}
            .step-number3 { left: 69%;}
        }
        
    }
    .products {
        margin-top: 6em;
        .arrow { width: 60px; height: 60px; }
        &-description { margin: 30px 10px; }
    }
    .faq {
        &__wrapper { padding: 31px; }
        .question { width: 250px; }
    }
    .contacts { 
        margin-top: 6em; 
        &__right { display: none; }
    }
    .footer { 
        &__left { margin: 0; p{ width: 59%; }}
        &__right { 
            display: flex; 
            flex-wrap: wrap; 
            justify-content: space-around;
            gap: 30px;
        } 
        .webpage-links { width: 42%; }
    }
}
@media screen and (max-width: 374px) {
    .go-to-up { width: 14%; }
    .header {
        &__logo { width: 125px; }
        .btn { width: 128px; height: 32px; font-size: 9px;}

    }
    .why-stigma {
        .step {
            .step-number { top: -3%; left: 63%; }
        }
        .step-text {width: 100%;}
    }
    .products {
        &-description { margin: 30px 10px; }
    }
    .faq {
        .h2 { line-height: 54px; }
        .input { width: 198px; }
    }
    .contacts {
        .h2 { line-height: 54px; }
    }
    .footer {
        p { width: 70%; }
    }
}